<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="."> Afficher Pvc Evenement</a></li>
    <li class="breadcrumb-item active" aria-current="page">Pvc Evenement</li>
  </ol>
</nav>
<div class="row ">
  <div class="col-md-9 stretch-card  mx-auto">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Pvc Evenement</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
            <tr >
              <th>Date</th>
              <th>ref Type Evenement</th>
              <th>ref Requete</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of evenementdto | paginate :{id: 'liste',
                                                                        itemsPerPage: 5,
                                                                        currentPage: p,
                                                                        totalItems: total}">
              <td>{{c.dateEvenement|date:'yyyy-MM-dd'}}</td>
              <td>{{c.refRequete}}</td>
              <td>{{c.refTypeEvenement}}</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>

          </table>
          <div>
            <!--afficher la pagination-->
            <pagination-controls  id="liste"
                                  (pageChange)="pageChanged($event)"
                                  (pageBoundsCorrection)="pageChanged($event)"
                                  maxSize="9"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
