<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Afficher pvc decision</a></li>
    <li class="breadcrumb-item active" aria-current="page">pvc decision</li>
  </ol>
</nav>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">pvc decision</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
            <tr>
              <th>Date de Decision</th>
              <th>Numero de decision</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pvo of pvcdecisiondto| paginate :{id: 'liste',
                                                                        itemsPerPage: 3,
                                                                        currentPage: p,
                                                                        totalItems: total}">
              <th>{{pvo.dateDecision|date:'yyyy-MM-dd'}}</th>
              <th>{{pvo.numeroDecision}}</th>

            </tr>

            </tbody>
            <tfoot>

            </tfoot>
          </table>

          <div>
            <!--afficher la pagination-->
            <pagination-controls  id="liste"
                                  (pageChange)="pageChanged($event)"
                                  (pageBoundsCorrection)="pageChanged($event)"
                                  maxSize="9"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
